#product_details{
  position: relative;
  top: 150px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.image_product_details{
  max-width: 30%;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.image_product img{
  width: 250px;
  height: 250px;
  object-position: center;
  object-fit: contain;
  display: block;
  transition: transform .2s; /* Animation */
}

.image_product img:hover{
  transform: scale(1.5);
  cursor: zoom-in;
}

.information_product_detail{
  max-width: 30%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.name_product h2{
  font-size: 1.2rem;
  font-weight: 600;
}

.rating_product_detail{
  display: flex;
  justify-content: space-around;
}

.status span{
  font-size: 0.8rem;
  font-weight: 700;
  color: #0b0382;
}

.rating{
  color: yellow;
}

.price_product_detail{
  margin-top: 15px;
}

.price_product_detail h2{
  font-weight: 700;
}

.detail{
  margin-top: 30px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail ul li{
  list-style: none;
  font-weight: 400;
}

.detail ul li > span{
  font-size: 1rem;
  color: #13eb9f;
}

.detail p{
  font-size: 1rem;
  text-indent: 1px;
  letter-spacing: 1px;
}

.list_image{
  /* background-color: blue; */
  display: flex;
  position: relative;
  top: 55px;
  justify-content: space-around;
  cursor: pointer;
}

.list_image img{
  width: 80px;
  height: 70px;
  object-fit: contain;
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0,0,0,0.75);
  cursor: pointer;
  margin-right: 10px;
}

.cart_product_detail{
  width: 23%;
  height: 350px;
  border-radius: 20px;
  padding: 25px;
  border: 1px solid #ddd;
}

@media only screen and (max-width: 576px){
  #product_details{
    flex-direction: column;
    align-items: center;
    z-index: -2;
  }

  .image_product_details{
    max-width: 70%;
  }

  .list_image{
    margin-left: 25px;
  }

  .information_product_detail{
    position: relative;
    top: 150px;
    max-width: 75%;
  }

  .cart_product_detail{
    width: 70%;
    position: absolute;
    bottom: 0;
    top: 900px;
  }
}
