#shopping_user{
  position: relative;
  top: 150px;
}

.cart_shop{
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.image_product{
  width: 25%;
  height: 450px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 3px 2px 10px rgba(0,0,0,0.75);
}

.image_product img{
  width: 300px;
  height: 460px;
  object-fit: contain;
  object-position:center;
}

.information_product{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_product{
  max-width: 85%;
  margin-bottom: 35px;
}

.title_product h2{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
  color: #04c246;
}

.table_user{
  width: 75%;
}

.table_user p > span{
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
}

.table_user p{
  font-size: 1.1rem;
  font-weight: 500;
  color: #0747ad;
}

.delete_product{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: red;
}

.trash_icon{
  cursor: pointer;
}

.save_products{
  width: 50%;
  position: relative;
  left: 450px;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.total_price h3{
  color: black;
  font-weight: 300;
}

.total_price h3 > span{
  color: #04c246;
}
